body {
  background-color: #bec0c2;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 14px;
  height: 8px;
  padding: 4px;
  outline: 2px solid #0f2044;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f2044;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffb71b;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bec0c2;
}